.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - var(--nav-height-computer));
  padding: 10px 0;
  overflow: auto;
}

.right > div {
  background-color: #fff;
  padding: 10px 0;
  border-radius: var(--border-radius);
}

.right > div h2 {
  margin: 0 auto;
}

@media (max-width: 992px) {
  .right {
    top: 55px;
    position: relative;
    height: fit-content;
    gap: 5px;
    padding: 0px 0;
  }

  .right > div {
    border-radius: 0;
  }
}
