.recall-sheet {
  width: 95%;
  margin: 20px auto;
  height: 380px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.row-num {
  color: var(--orange);
  font-weight: bold;
}

.recall-element {
  display: flex;
  align-items: center;
}

.recall-input input {
  width: 35px;
  height: 35px;
  outline: none;
  border: 1px solid #ddd;
  border-right: none;
  text-align: center;
  caret-color: transparent;
  font-weight: bold;
}

.img {
  width: 200px;
  height: 200px;
}

.img img {
  padding: 0;
  width: 100%;
  height: 100%;
  border-color: #eee;
}

.active input,
.active img {
  box-shadow: 0 0px 4px 2px #77777735 inset;
  opacity: 0.7;
  border-color: #77777735;
}

.focus input,
.focus img {
  border-color: #f6ca1cc2;
  box-shadow: 0 0 8px 2px #f6ca1cc2;
}

.focus input {
  background-color: #f6ca1c71;
  box-shadow: 0 0 8px 2px #f6ca1cc2 inset;
}

@media (max-width: 992px) {
  .recall-sheet {
    height: 300px;
  }

  .img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 767px) {
  .recall-sheet {
    height: 250px;
  }

  .row {
    gap: 0px;
    margin-bottom: 25px;
  }

  .row-num {
    font-size: 0.7rem;
  }

  .recall-element {
    gap: 0;
    position: relative;
    border: 1px solid #eee;
  }

  .recall-input {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .recall-input input {
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img {
    width: 60px;
    height: 60px;
  }

  .img img {
    border: none;
  }

  .focus img {
    box-shadow: 0 0px 4px 2px #f6ca1cb7;
  }

  .focus input {
    background-color: var(--orange);
  }
}
