.community-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  background-color: #fff;
  position: fixed;
  top: var(--nav-height-phone);
  left: 0;
  z-index: 500;
  width: 100%;
  margin-top: 0;
}

.community-bar div {
  padding: 12px;
  width: calc(100% / 3);
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.community-bar div:hover,
.community-bar div.active {
  color: var(--orange);
}

.community-bar div::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #eee;
  left: 50%;
  bottom: 0;
  transition: 0.3s;
  z-index: -1;
}

.community-bar div::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--orange);
  left: 50%;
  bottom: 0;
  transition: 0.3s;
}

.community-bar div.active::before {
  width: 100%;
  left: 0;
}

.community-bar div.active::after {
  width: 100%;
  left: 0;
}
