.friends {
  box-shadow: var(--box-shadow-light-inset);
  border-radius: var(--border-radius);
  padding-top: 15px;
  padding-bottom: 15px;
  height: calc(100vh - var(--nav-height-computer) - 20px);
  max-height: calc(100vh - var(--nav-height-computer) - 20px);
  overflow-y: auto;
}

@media (max-width: 991px) {
  .friends {
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 0;
    box-shadow: none;
    margin-bottom: 0;
    height: 90px;
    max-height: 90px;
  }

  .title {
    display: none;
  }

  .friends-list {
    display: flex;
    overflow-x: auto;
  }
}

.no-users {
  font-size: 1rem;
  padding: 0 10px;
  text-align: center;
}
