.testHead {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  box-shadow: var(--box-shadow-light-inset);
}

.testHead div:nth-child(2) {
  text-align: center;
}

.testHead div:last-child {
  text-align: right;
}

.testHead div:first-child span {
  font-weight: bold;
  color: rgb(50, 236, 50);
}

.testHead div:nth-child(2) span {
  font-weight: bold;
  color: #f33;
}

@media (max-width: 767px) {
  .testHead {
    font-size: 1.2rem;
    width: 95%;
    margin: 10px auto;
  }
}
