.result-sheet {
  margin: 15px auto;
  width: 95%;
  direction: rtl;
}

.not-arabic {
  direction: ltr;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
}

.date:not(:last-child) {
  border-bottom: none;
}

.date:nth-child(even) {
  background-color: #f5f5f5;
}

.date div {
  padding: 5px 10px;
  font-size: 20px;
  min-width: 60px;
  text-align: center;
}

.date div:nth-child(2) {
  border-right: 1px solid #eee;
}

.date div:last-child {
  width: 600px;
  border-right: 1px solid #eee;
  text-align: right;
}

.not-arabic .date div:last-child {
  text-align: left;
}

.focus div:first-child {
  border-color: var(--orange);
}

.error {
  background-color: #f33;
}

.correct {
  background-color: #00ff00;
}

.focus {
  background-color: var(--orange);
  border-color: var(--orange);
  height: 35px;
}

@media (max-width: 767px) {
  .result-sheet {
    margin: 10px auto;
    height: 400px;
  }

  .date div {
    font-size: 14px;
    padding: 4px 10px;
  }

  .focus {
    height: 25px;
  }
}
