.userInfo {
  width: 25%;
  min-height: calc(100vh - var(--nav-height-computer));
  background-color: #f6ca1c42;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .userInfo {
    position: fixed;
    left: 0;
  }
}

.userInfo ul {
  list-style: none;
}

.userInfo ul li {
  border-bottom: 1px solid #fff;
}

.userInfo li:first-child {
  border-top: 1px solid #fff;
}

@media (max-width: 767px) {
  .userInfo {
    width: 100%;
    min-height: fit-content;
    padding-top: 0;
    padding-bottom: 0;
  }

  .userInfo ul {
    display: flex;
    flex-wrap: wrap;
  }

  .userInfo ul li {
    width: 20%;
    flex-grow: 1;
    text-align: center;
  }

  .userInfo li:first-child {
    border-top: none;
  }

  .userInfo svg {
    font-size: 1rem;
    color: var(--orange);
  }

  .userInfo ul li:not(:last-child) {
    border-right: 2px solid #fff;
  }

  .link-text {
    display: flex;
    flex-direction: column;
  }
}
