.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  height: var(--nav-height-phone);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #222 0%, #777 100%);
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media (max-width: 991px) {
  .navBig {
    display: none;
  }
}

@media (min-width: 992px) {
  .main-nav {
    height: var(--nav-height-computer);
    padding: 0 2rem;
  }

  .navSmall {
    display: none;
  }
}

.burgerIcon {
  width: 40px;
  height: 30px;
  border: 1px #fff solid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

@media (min-width: 992px) {
  .burgerIcon {
    display: none;
  }
}

.burgerIcon:hover {
  border-color: var(--orange);
}

.burgerIcon div {
  width: 100%;
  height: 1.3px;
  background-color: #fff;
  transition: 0.3s;
}

.burgerIcon:hover div {
  background-color: var(--orange);
}
