.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  color: #777;
  text-transform: capitalize;
}

.details div {
  transition: 0.3s;
}

.details div:hover {
  cursor: pointer;
  color: rgb(59, 57, 57);
}

@media (max-width: 767px) {
  .details {
    padding: 0 10px 4px;
  }

  .details div {
    font-size: 0.8rem;
  }
}
