.add-competitor {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.add-competitor label {
  color: var(--yellow);
  font-weight: bold;
}

.add-competitor input {
  border: 1px solid #ccc;
  outline: none;
  padding: 10px 15px;
  flex-grow: 1;
}
