.userData {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .userData {
    width: 70%;
    position: relative;
    left: 13.5%;
  }
}

.userData hr {
  border: 1px solid #f6cb1c;
  width: 50%;
  margin: 20px auto;
}

.userData h3 {
  font-size: 2rem;
  margin: 0 auto 1rem;
  text-align: center;
  background-color: rgba(204, 204, 204, 0.34);
  padding: 0.5rem 1rem;
}

@media (max-width: 767px) {
  .userData {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .userData h3 {
    font-size: 1.3rem;
    margin: 0.5rem auto;
  }
}
