.results {
  height: calc(100vh - var(--nav-height-computer) - 145px);
  width: 100%;
}

.show-results {
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border: 1px solid #ddd;
  width: 95%;
  margin: 0 auto;
  padding: 10px 15px;
}

.header h3 {
  color: var(--orange);
  font-size: 1.6rem;
}

.header span {
  background-color: var(--photo);
  padding: 4px 10px;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}

@media (max-width: 991px) {
  .results {
    height: calc(100vh - var(--nav-height-phone) - 105px);
  }
  .show-results {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header {
    padding: 5px 10px;
  }

  .header h3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 5px;
  }

  .header h3 {
    font-size: 1rem;
  }

  .header span {
    font-size: 0.9rem;
    padding: 2px 7px;
  }
}
