.create-course {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .create-course {
    width: 70%;
    position: relative;
    left: 13.5%;
  }
}

.create-course h3 {
  font-size: 2rem;
  margin: 0 auto 1rem;
  text-align: center;
  background-color: rgba(204, 204, 204, 0.34);
  padding: 0.5rem 1rem;
}

@media (max-width: 767px) {
  .create-course {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .create-course h3 {
    font-size: 1.3rem;
    margin: 0.5rem auto;
  }
}
